.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid rgb(30 41 59);
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

#ArticlePreviews {
  display: flex;
  flex-direction: column;
}

#Tags {
  display: flex;
  flex-wrap: wrap;
}

#Tags > * {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 1rem 1rem 0 0;
}
#Tags > *:last-child {
  margin: 1rem 0 0 0;
}

@media (min-width: 768px) {
  #ArticlePreviews {
    flex-direction: row;
  }
}
